
<template name = "advisors">
  <section id = "advisors" class="advisors section x-up-lg">
			<div class="container">
				<div class="row">
					<div class="col">
						<div data-aos="fade-up" class="block-header block-header--animated block-header--center">
							<div class="subtitle">Board</div>
							<h2 class="title title--medium title--black">Our Advisors</h2>
						</div>
					</div>
				</div>
				<div class="row text-center">
          <div class = "col-lg-2"></div>
					<div class="col-lg-4">
						<a href="https://www.linkedin.com/in/borut-battestin-270681163/" class="advisor ln">
							<div class="advisor__avatar"  data-aos="fade-up" >
								<img src="img/advisorBg-1.svg" alt="" class="advisor__bg">
								<img src="img/advisorImg-001.png" alt="" class="advisor__img">
							</div>
							<div class="advisor__name">Borut Battestin</div>
							<div class="advisor__post">
                <strong>CEO at ABA d.o.o. Real Estate Development</strong>
              </div>
              <div class="advisor__post">
                <i>
                  Mr. Borut's invaluable experience and expertise in real estate and blockchain as well as
                  successful accomplishments of more than 50 real estate development projects
                  play a crucial role to RESTA's long-term success.
                </i>
              </div>
						</a>
					</div>
          <div class="col-lg-4">
						<a href="https://www.linkedin.com/in/tgjames/" class="advisor ln">
							<div class="advisor__avatar"  data-aos="fade-up" >
								<img src="img/advisorBg-2.svg" alt="" class="advisor__bg">
								<img src="img/advisorImg-002.png" alt="" class="advisor__img">
							</div>
							<div class="advisor__name">Tom James</div>
							<div class="advisor__post">
                <strong>CIO/CEO at NR Capital Pte Limited</strong>
              </div>
              <div class="advisor__post">
                <i>
                  Mr.James is a leading practitioner in the global Natural Resources market with over
                  29 years of commercial exposure gained through broad ranging senior roles in trading,
                  investment, advisory, commodity project management & trade finance. Author on cross
                  border international trading, involved in BlockChain of Smart Contracts and Digitization
                   of processes in the global physical commodity trading and transportation industries.
                </i>
              </div>
						</a>
					</div>
          <div class = "col-lg-2"></div>
				</div>
			</div>
		</section>
</template>
