<template name = "app">
  <section class="app section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-8" data-aos="fade-right" >
						<div class="block-header block-header--animated">
							<div class="subtitle subtitle--tire">Mobile app</div>
							<h2 class="title title--black title--medium">
								RESTA App for ICO Platform
							</h2>
						</div>

						<p>
							JavaScript virtual machines (VMs) and platforms built upon them have also increased the popularity of JavaScript for server-side web applications. On the client side, JavaScript
						</p>

						<div class="app__dowload-links">
							<a href="" class="app__link">
								<img src="img/gp.png" alt="">
							</a>
							<a href="" class="app__link">
								<img src="img/as.png" alt="">
							</a>
						</div>
					</div>
					<img src="img/iphone.png" data-aos="fade-left" data-aos-offset="-200" data-aos-delay="400" alt="" class="app__iphone">
				</div>
			</div>
	  </section>
</template>
