<template name = "docs">
  <section id="docs" class="docs">
			<div class="container">
				<div class="row">
					<div class="col">
						<div data-aos="fade-left" class="block-header block-header--animated">
							<div class="subtitle subtitle--tire">Our files</div>
							<h2 class="title title--medium title--black">Documents</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<a href="" download class="doc" data-aos="fade-left" >
							<div class="doc__name">
								Terms & Conditions
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-6">
						<a href="" download class="doc" data-aos="fade-left" data-aos-delay="100">
							<div class="doc__name">
								White Pappers
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-6">
						<a href="" download class="doc" data-aos="fade-left" data-aos-delay="200">
							<div class="doc__name">
								Privacy Policy
							</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-6">
						<a href="" download class="doc" data-aos="fade-left" data-aos-delay="300">
							<div class="doc__name">
								Business Profile
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
</template>
