<template name = "faq">
  <section id="faq" class="faq section">
			<div class="container">
				<div class="row">
					<div class="col">
						<div data-aos="fade-up" class="block-header block-header--animated block-header--center">
							<div class="subtitle">FAQ</div>
							<h2 class="title title--medium title--black">
								Frequency Asked Questions
							</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="faq__item" data-aos="fade-up">
							<h3 class="faq__item-title">
								Frequency Asked Questions
							</h3>
							<p>
								JavaScript is also used in environments that aren’t web-based, such as PDF documents, site-specific browsers, and desktop widgets. Newer and faster JavaScript virtual machines (VMs) and platforms built upon them have also increased the popularity of JavaScript for server-side web applications. On
							</p>
						</div>
						<div class="faq__item" data-aos="fade-up" data-aos-delay="100">
							<h3 class="faq__item-title">
								Does the crowdsale comply with legal regulations?
							</h3>
							<p>
								Newer and faster JavaScript virtual machines (VMs) and platforms built upon them have also increased the popularity of JavaScript for server-side web applications. On the client side, JavaScript has been traditionally implemented as an interpreted language, but more recent browsers perform just-in-time compilation.
							</p>
						</div>
						<div class="faq__item" data-aos="fade-up" data-aos-delay="200">
							<h3 class="faq__item-title">
								Can I trade SCR at an exchange?
							</h3>
							<p>
								Can I trade SCR at an exchange?
							</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="faq__item" data-aos="fade-up" data-aos-delay="300">
							<h3 class="faq__item-title">
								What is the difference between Coin tokens and Power tokens?
							</h3>
							<p>
								Newer and faster JavaScript virtual machines (VMs) and platforms built upon them have also increased the popularity of JavaScript for server-side web applications. On the client side, JavaScript has been traditionally implemented as an interpreted language, but more recent browsers perform
							</p>
						</div>
						<div class="faq__item" data-aos="fade-up" data-aos-delay="400">
							<h3 class="faq__item-title">
								Why is Scorum’s economic model sustainable?
							</h3>
							<p>
								On the client side, JavaScript has been traditionally implemented as an interpreted language, but more recent browsers perform just-in-time compilation.
							</p>
						</div>
						<div class="faq__item" data-aos="fade-up" data-aos-delay="500">
							<h3 class="faq__item-title">
								Can I mine SCR?
							</h3>
							<p>
								Can I trade SCR at an exchange?
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
</template>
