<template name = "ico">
  <section class="ico">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="ico__body">
            <div class="ico__content">
              <h2 class="ico__title">
                ICO Open!
              </h2>

              <div class="ico__bar">
                <div class="ico__bar-marker ico__bar-marker--800">
                  <div class="ico__bar-marker-title">
                    800K
                  </div>
                </div>

                <div class="ico__bar-marker ico__bar-marker--23">
                  <div class="ico__bar-marker-title">
                    2.3M
                  </div>
                </div>

                <div class="ico__bar-marker ico__bar-marker--5">
                  <div class="ico__bar-marker-title">
                    5M
                  </div>
                </div>

                <div class="ico__bar-marker ico__bar-marker--9">
                  <div class="ico__bar-marker-title">
                    9M
                  </div>
                </div>

                <div class="ico__bar-max-value">
                  12M USD MAX
                </div>

              </div>

              <div class="ico__row">

                <div class="ico__timer">
                  <h4 class="ico__timer-title">
                    ICO will end:
                  </h4>

                  <div class="timer" id="timer"></div>
                </div>

                <a href="" class="btn btn--medium">Register on ICO</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
