<template name = "map">
  <section id="map" class="map section section--no-pt">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="block-header block-header--animated block-header--center">
            <div class="subtitle">Our way</div>
            <h2 class="title title--medium title--black">Road Map</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">

          <div class="road">
            <div class="road__item">
              <div class="road__item-metka"></div>
              <div class="road__item-content">
                <div class="road__item-title">
                  February 2018
                </div>
                <p>
                  Concept Design
                </p>
              </div>

            </div>

            <div class="road__item road__item-next">
              <div class="road__item-metka"></div>
              <div class="road__item-content">
                <h4 class="road__item-title">
                  March 2018
                </h4>
                <p>
                  Technical Specification
                </p>
              </div>

            </div>

            <div class="road__item road__item-active">
              <div class="road__item-metka"></div>
              <div class="road__item-content">
                <h4 class="road__item-title">
                  July 2018
                </h4>
                <p>
                  Alpha Testing
                </p>
              </div>
            </div>


            <div class="road__item road__item-next">
              <div class="road__item-metka"></div>
              <div class="road__item-content">
                <h4 class="road__item-title">
                  August 2018
                </h4>
                <p>
                  Beta Prototype
                </p>
              </div>
            </div>

            <div class="road__item road__item-next">
              <div class="road__item-metka"></div>
              <div class="road__item-content">
                <h4 class="road__item-title">
                  September 2018
                </h4>
                <p>
                  Series A Investment (VC)
                </p>
              </div>
            </div>

            <div class="road__item road__item-next">
              <div class="road__item-metka"></div>
              <div class="road__item-content">
                <h4 class="road__item-title">
                  November 2018
                </h4>
                <p>
                  Series B Investment (VC)
                </p>
              </div>
            </div>

            <div class="road__item road__item-next">
              <div class="road__item-metka"></div>
              <div class="road__item-content">
                <h4 class="road__item-title">
                  March 2019
                </h4>
                <p>
                  RESTA Platform Launch
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</template>
