<template name = "news">
  <section class="news section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="block-header block-header--animated block-header--center">
            <div class="subtitle">In the world</div>
            <h2 class="title title--medium title--black">Latest News</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">

          <div class="news-carousel owl-carousel">
            <a href="" class="news-carousel__item">
              <div class="news-carousel__item-subtitle">Cryptocurrency</div>
              <h3 class="news-carousel__item-title">
                New trends in UI/UX Design World Integration
              </h3>
              <p>
                Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and Antonis Lapos will conduct a number of personal meet-
              </p>
              <div class="news-carousel__item-data">
                September, 15 2017
              </div>
            </a>

            <a href="" class="news-carousel__item">
              <div class="news-carousel__item-subtitle">Bitcoin</div>
              <h3 class="news-carousel__item-title">
                The Crypto project has reached seven billions
              </h3>
              <p>
                Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and Antonis Lapos will conduct a number of personal meet-
              </p>
              <div class="news-carousel__item-data">
                September, 17 2017
              </div>
            </a>

            <a href="" class="news-carousel__item">
              <div class="news-carousel__item-subtitle">Blokchain</div>
              <h3 class="news-carousel__item-title">
                Start the redemption before the ICO completion
              </h3>
              <p>
                Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and Antonis Lapos will conduct a number of personal meet-
              </p>
              <div class="news-carousel__item-data">
                September, 15 2017
              </div>
            </a>

            <a href="" class="news-carousel__item">
              <div class="news-carousel__item-subtitle">Blokchain</div>
              <h3 class="news-carousel__item-title">
                Start the redemption before the ICO completion
              </h3>
              <p>
                Specially for our VIP customers the LH Crypto team representatives Alexander Smirnov and Antonis Lapos will conduct a number of personal meet-
              </p>
              <div class="news-carousel__item-data">
                September, 15 2017
              </div>
            </a>

          </div>

        </div>
      </div>
    </div>
  </section>
</template>
