<template name = "partners_anime">
  <section class="partners partners--bot-animation section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="block-header block-header--animated">
            <div class="subtitle subtitle--tire">
              Our friends
            </div>
            <h2 class="title title--medium title--black">
              Partners
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col partners__logoes">
          <div class="partners__logo">
            <img src="img/partners-logo-1.png" alt="">
          </div>
          <div class="partners__logo">
            <img src="img/partners-logo-2.png" alt="">
          </div>
          <div class="partners__logo">
            <img src="img/partners-logo-3.png" alt="">
          </div>
          <div class="partners__logo">
            <img src="img/partners-logo-4.png" alt="">
          </div>
          <div class="partners__logo">
            <img src="img/partners-logo-5.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
