<template name = "partners">
  <section class="partners partners--top-animation section section--small-pt">
    <div class="container">
      <div class="row">
        <div class="col  partners__logoes">
          <div class="partners__logo">
          </div>
          <div class="partners__logo">
            <p style = "color: #999">
              Supported by Ulsan National Institue of Science & Technology
            </p>
          </div>
          <div class="partners__logo">
            <img src="img/partners-logo-2.png" alt="">
          </div>
          <div class="partners__logo">
          </div>
          <div class="partners__logo">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
