<template name = "partners">
  <section class="partners partners--top-animation section section--small-pt">
    <div class="container">
      <div class="row">
        <div class="col  partners__logoes">
          <div class="partners__logo">
            <img src="img/partners-logo-1.png" alt="">
          </div>
          <div class="partners__logo">
            <img src="img/partners-logo-2.png" alt="">
          </div>
          {{!--
          <div class="partners__logo">
            <img src="img/partners-logo-3.png" alt="">
          </div>
          --}}
          <div class="partners__logo">
            <img src="img/partners-logo-4.png" alt="">
          </div>
          {{!-- <div class="partners__logo">
            <img src="img/partners-logo-5.png" alt="">
          </div>--}}
        </div>
      </div>
    </div>
  </section>
</template>
