<template name = "promo">
  <section class="promo">
    <div class="container">
      <div class="row align-items-center ">
        <div class="col">
          <div class="promo__content" data-aos="fade-up">
            <div class="promo__subtitle">Hashgraph</div>
            <h1 class="title title--big title--white promo__title">
              RESTA Delivers!
              <span></span>
            </h1>
            <p>
              RESTA is the hashgraph based permissioned decentralized ledger
              platform with the network of banks from Hong Kong and United Kingdom,
              where investors and investment institutions can perform cross-border transactions with zero transaction costs,
              while being able to select and utilize various smart contract types to match their unique investment options.
            </p>

            <form action="#" id="subscribe-top" class="form join-us">
              <input id = "fb_input_1" name="subscribe_top__email" class="form__input join-us__input" type="email" placeholder="Email">
              <button class="form__btn join-us__btn">Join us</button>
            </form>
          </div>

          <img src="img/grey_promo_bg.png" data-aos="fade-left"  alt="" class="promo__img">
        </div>
      </div>
    </div>
    <img src="img/aboutBg.png" class="promo__bg" alt="">
  </section>
</template>
