<template name = "services">
  <section id="services" class="service section section--no-pt">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="block-header block-header--animated block-header--center">
            <div class="subtitle">Awesome services</div>
            <h2 class="title title--medium title--black">Our services</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="service__item" data-aos="fade-up">
            <div class="service__item-content">
              <div class="service__item-icon">
                <img src="img/contract-logo.png" alt="">
              </div>

              <h3 class="service__item-title">Smart Contracts</h3>
              <p style = "padding: 20px 0 0 0">
                Smart contracts help you exchange money, property, shares,
                or anything of value in a transparent,
                conflict-reduced way while eliminating the need for a
                third-party as middleman.
              </p>
            </div>
            <a href="#docs" class="service__btn">Learn More</a>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="service__item" data-aos="fade-up" data-aos-delay="200">
            <div class="service__item-content">
              <div class="service__item-icon">
                <img src="img/coin-logo.png" alt="">
              </div>

              <h3 class="service__item-title">International Transactions</h3>
              <p>
                Hashgraph powered real estate transactions platform that handles cross border payments processing,
                property listing, translations, and buyer/developer verification.
              </p>
            </div>
            <a href="#docs" class="service__btn">Learn More</a>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="service__item" data-aos="fade-up" data-aos-delay="400">
            <div class="service__item-content">
              <div class="service__item-icon">
                <img src="img/safe-logo.png" alt="">
              </div>

              <h3 class="service__item-title">Fund Escrow</h3>
              <p style = "padding: 20px 0 0 0">
                RESTA Escrow guarantees that every conflict between customers
                and service providers is resolved in an unbiased, professional manner within short time.
              </p>
            </div>
            <a href="#docs" class="service__btn">Learn More</a>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="service__item" data-aos="fade-up" data-aos-delay="600">
            <div class="service__item-content">
              <div class="service__item-icon">
                <img src="img/carbon-logo.svg" alt="">
              </div>

              <h3 class="service__item-title">Carbon Currency Platform</h3>
              <p>
                Carbon presents a dynamic value transfer protocol which contextualizes value transfer while substantially
                  reducing resolution costs, increasing
                    economic efficiency.
              </p>
            </div>
            <a href="#docs" class="service__btn">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
