<template name = "statistic">
  <section id="statistic" class="stat section">
    <div class="container">
      <div class="row stat__first-row">
        <div class="col-lg-5" data-aos="fade-right">
          <div class="block-header block-header--animated">
            <div class="subtitle subtitle--tire">Stats</div>
            <h2 class="title title--black title--medium">Real Estate Market</h2>
          </div>

          <div class="stat__content">

            <p>
              In the last 7 years, the demand for international real estate transactions increased from $70 billion to $370 billion.
              Individual and corporate investors from China alone have spent an estimated $150 billion in overseas
              real estate in 2017. The growing number of upper and middle
              class in China has led to the procurement of real estate in Canada, US, Australia, and South-East Asia.
            </p>

            <ul class="stat__designations">
              <li>How real formula also</li>
              <li>Leading how real formula also </li>
              <li>Formula also </li>
              <li>Mouthwatering leading</li>
              <li>Formula also leading how real</li>
            </ul>

          </div>

        </div>

        <img src="img/graphic.png" class="stat__graphic" alt="">
      </div>
      {{!--
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class=" ter__item">
            <div class="counter__item-title">Real Estate volumes for 2017, billion $ (usd)</div>
            <div class="counter counter__item-value counter__item-value--blue numscroller">698.2</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="counter__item">
            <div class="counter__item-title">Avarage batches used</div>
            <div class="counter counter__item-value counter__item-value--pink">5.658</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="counter__item">
            <div class="counter__item-title">Total batches remaining</div>
            <div class="counter counter__item-value counter__item-value--green">20.324</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="counter__item">
            <div class="counter__item-title">Percentage batches</div>
            <div class="counter counter__item-value counter__item-value--percent counter__item-value--purpure">65</div>
          </div>
        </div>
      </div>
      --}}
    </div>
  </section>
</template>
