<template name = "statistic">
  <section id="statistic" class="stat section">
    <div class="container">
      <div class="row stat__first-row">
        <div class="col-lg-5" data-aos="fade-right">
          <div class="block-header block-header--animated">
            <div class="subtitle subtitle--tire">Stats</div>
            <h2 class="title title--black title--medium">Real Estate Market</h2>
          </div>

          <div class="stat__content">

            <p>
              In the last 7 years, the demand for international real estate transactions increased from $70 billion to $370 billion.
              Individual and corporate investors from China alone have spent an estimated $150 billion in overseas
              real estate in 2017. The growing number of upper and middle
              class in China has led to the procurement of real estate in Canada, US, Australia, and South-East Asia.
            </p>
          </div>

        </div>

        <img src="img/graphic.png" class="stat__graphic" alt="">
      </div>

      <div style = "margin-top: -20px" class="row">
        <div class="col-lg-3 col-md-6">
          <div class="advisor__post">CC Land Holdings, London's <b>"Cheesegrater"</b> skyscraper</div>
          <div style = "margin-top: 20px" class="advisor__name">$1.47 billion</div>
          <div class="advisor__avatar">
            <img style = "margin: 30px 0 0 -20px" src="img/advisorBg-1.svg" alt="" class="advisor__bg">
            <img data-aos="fade-up" data-aos-delay="390" style = "margin: 50px 0 0 -40px" src = "img/stats/sky_1.jpg" class = "advisor__img">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="advisor__post">CK Infrastructure Holdings Ltd, Ista International GmbH</div>
          <div style = "margin-top: 20px" class="advisor__name">$5.30 billion</div>
          <div class="advisor__avatar">
            <img style = "margin: 30px 0 0 -20px" src="img/advisorBg-3.svg" alt="" class="advisor__bg">
            <img data-aos="fade-up" data-aos-delay="400" style = "margin: 50px 0 0 -40px" src = "img/stats/sky_2.jpg" class = "advisor__img">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="advisor__post">HNA Group, Hilton Worldwide Holdings</div>
          <div style = "margin-top: 20px" class="advisor__name">$6.50 billion</div>
          <div class="advisor__avatar">
            <img style = "margin: 30px 0 0 -20px" src="img/advisorBg-2.svg" alt="" class="advisor__bg">
            <img data-aos="fade-up" data-aos-delay="350" style = "margin: 50px 0 0 -40px" src = "img/stats/sky_3.jpg" class = "advisor__img">
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="advisor__post">Prosperity REIT, Kowloon Tower</div>
          <div style = "margin-top: 20px" class="advisor__name">$242 million</div>
          <div class="advisor__avatar">
            <img style = "margin: 30px 0 0 -20px" src="img/advisorBg-1.svg" alt="" class="advisor__bg">
            <img data-aos="fade-up" data-aos-delay="420" style = "margin: 58px 0 0 -47px" src = "img/stats/sky_4.jpg" class = "advisor__img">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
