<template name = "subscribe">
  <section class="subscribe section">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="block-header block-header--animated block-header--center">
							<div class="subtitle">Contact us</div>
							<h2 class="title title--medium title--white">Stay in touch</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<form id="subscribe-bot" action="#" class="subscribe__form form">
							<input type="email" name="subscribe_bot__email" placeholder="Email" class="form__input subscribe__form-input">
							<button class="form__btn subscribe__form-btn">Send</button>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col">

						<ul class="social-list">
							<li class="social-list__item">

								<a href="" class="social-list__link">
									<i class="fontello-icon icon-twitter">&#xf309;</i>
								</a>
							</li>
							<li class="social-list__item">
								<a href="" class="social-list__link">
									<i class="fontello-icon icon-facebook">&#xf30c;</i>
								</a>
							</li>
							<li class="social-list__item">
								<a href="" class="social-list__link">
									<i class="fontello-icon icon-telegram">&#xf2c6;</i>
								</a>
							</li>
							<li class="social-list__item">
								<a href="" class="social-list__link">
									<i class="fontello-icon icon-bitcoin">&#xf15a;</i>
								</a>
							</li>
							<li class="social-list__item">
								<a href="" class="social-list__link">
									<i class="fontello-icon icon-youtube-play">&#xf16a;</i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
</template>
