
<template name = "team">
  <section id = "team" class="advisors section">
			<div class="container">
				<div class="row">
					<div class="col">
						<div data-aos="fade-up" class="block-header block-header--animated block-header--center">
							<div class="subtitle">Family</div>
							<h2 class="title title--medium title--black">Our Team</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<a href="https://www.linkedin.com/in/yerbol-arshynbek-a2918613a" class="advisor ln">
							<div class="advisor__avatar"  data-aos="fade-up" >
								<img src="img/advisorBg-1.svg" alt="" class="advisor__bg">
								<img src="img/advisorImg-1.png" alt="" class="advisor__img">
							</div>
							<div class="advisor__name">Yerbol Arshynbek</div>
							<div class="advisor__post"><strong>CEO, Co-founder of RESTA</strong></div>
              <div class="advisor__post">
                <i>
                  Vision for success and a high sense of responsibility drives Yerbol to consistently create value to the society
                </i>
              </div>
						</a>
					</div>
					<div class="col-lg-3">
						<a href="https://www.linkedin.com/in/askar-gabit-86b266149" class="advisor ln"  data-aos="fade-up" data-aos-delay="200">
							<div class="advisor__avatar">
								<img src="img/advisorBg-2.svg" alt="" class="advisor__bg">
								<img src="img/advisorImg-2.png" alt="" class="advisor__img">
							</div>
							<div class="advisor__name">Askar Gabit</div>
							<div class="advisor__post"><strong>COO, Co-founder of RESTA</strong></div>
              <div class="advisor__post">
                <i>
                  Strong scientific background enables Askar to provide creative solutions and right decisions in most needed times.
                </i>
              </div>
						</a>
					</div>
					<div class="col-lg-3">
						<a href="https://www.linkedin.com/in/nurseiit" class="advisor ln" data-aos="fade-up" data-aos-delay="400">
							<div class="advisor__avatar">
								<img src="img/advisorBg-3.svg" alt="" class="advisor__bg">
								<img src="img/advisorImg-3.png" alt="" class="advisor__img">
							</div>
							<div class="advisor__name">Nurseiit Abdimomyn</div>
							<div class="advisor__post"><strong>CTO, Co-founder of RESTA</strong></div>
              <div class="advisor__post">
                <i>
                  Young professional, with an engineering mind-set and 7 years of coding experience, can build complex systems
                </i>
              </div>
						</a>
					</div>
          <div class="col-lg-3">
						<a href="https://www.linkedin.com/in/jonas-nyamador-baba347a" class="advisor ln">
							<div class="advisor__avatar"  data-aos="fade-up" >
								<img src="img/advisorBg-1.svg" alt="" class="advisor__bg">
								<img src="img/advisorImg-5.png" alt="" class="advisor__img">
							</div>
							<div class="advisor__name"> Jonas Nyamador</div>
							<div class="advisor__post"><strong>CSO, RESTA</strong></div>
              <div class="advisor__post">
                <i>
                  Jonas is a crypto-finance specialist and investor.
                  He has consulted for medium sized companies looking to enter other Asian markets.
                </i>
              </div>
						</a>
					</div>
				</div>
			</div>
		</section>
</template>
