
<template name = "team">
  <section id = "team" class="advisors section">
			<div class="container">
				<div class="row">
					<div class="col">
						<div data-aos="fade-up" class="block-header block-header--animated block-header--center">
							<div class="subtitle">Family</div>
							<h2 class="title title--medium title--black">Our Team</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<a href="https://www.linkedin.com/in/yerbol-arshynbek-a2918613a" class="advisor ln">
							<div class="advisor__avatar"  data-aos="fade-up" >
								<img src="img/advisorBg-1.svg" alt="" class="advisor__bg">
								<img src="img/advisorImg-1.png" alt="" class="advisor__img">
							</div>
							<div class="advisor__name">Yerbol Arshynbek</div>
							<div class="advisor__post">CEO, Co-founder of RESTA</div>
						</a>
					</div>
					<div class="col-lg-3">
						<a href="https://www.linkedin.com/in/askar-gabit-86b266149" class="advisor ln"  data-aos="fade-up" data-aos-delay="200">
							<div class="advisor__avatar">
								<img src="img/advisorBg-2.svg" alt="" class="advisor__bg">
								<img src="img/advisorImg-2.png" alt="" class="advisor__img">
							</div>
							<div class="advisor__name">Askar Gabit</div>
							<div class="advisor__post">COO, Co-founder of RESTA</div>
						</a>
					</div>
					<div class="col-lg-3">
						<a href="https://www.linkedin.com/in/nurseiit-abdimomyn-857b5a91/" class="advisor ln" data-aos="fade-up" data-aos-delay="400">
							<div class="advisor__avatar">
								<img src="img/advisorBg-3.svg" alt="" class="advisor__bg">
								<img src="img/advisorImg-3.png" alt="" class="advisor__img">
							</div>
							<div class="advisor__name">Nurseiit Abdimomyn</div>
							<div class="advisor__post">CTO, Co-founder of RESTA</div>
						</a>
					</div>
          <div class="col-lg-3">
						<a href="https://www.linkedin.com/in/kaznagul" class="advisor ln">
							<div class="advisor__avatar"  data-aos="fade-up" >
								<img src="img/advisorBg-1.svg" alt="" class="advisor__bg">
								<img src="img/advisorImg-4.png" alt="" class="advisor__img">
							</div>
							<div class="advisor__name">Kaznagul Sarkyt</div>
							<div class="advisor__post">Manager Communications RESTA</div>
						</a>
					</div>
				</div>
			</div>
		</section>
</template>
