<template name = "token">
  <section id="token" class="token section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-6" data-aos="fade-left" >
						<div class="block-header block-header--animated">
							<div class="subtitle subtitle--tire">About token</div>
							<h2 class="title title--medium title--black">Token Sale</h2>
						</div>

						<ul class="token__info-list">
							<li>
								<span>Name:</span> RESTA Token
							</li>
							<li>
								<span>Type:</span> ERC20
							</li>
							<li>
								<span>Symbol:</span> IQN
							</li>
							<li>
								<span>Platform:</span> Ethereum
							</li>
							<li>
								<span>General release:</span> 10,000,000 IQN
							</li>
						</ul>

						<div class="token__desc">
							<div class="token__desc-title">General description</div>
							<div class="token__desc-text">
								<p>
									RESTA will be released on the basis of Ethereum platform and fully comply with ERC20* standard.
								</p>
								<p>
									Support of this standard guarantees the compatibility of the token with third-party services (wallets, exchanges, listings, etc.), and provides easy integration.
								</p>
							</div>
						</div>

						<a href="" class="btn btn--medium">Buy Token</a>
					</div>
				</div>
			</div>
		</section>
</template>
